<a href="https://colab.research.google.com/github/K-Hebel/WiDS_Chi/blob/master/Model_WiDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load Libraries

In [2]:
#@title
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#@title
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split

#Load DataFile 'final_sample.csv' - A 50,000 record sample of orginal training dataset

In [5]:
df=pd.read_csv('/content/drive/My Drive/final_sample.csv')

In [6]:
df.describe()

         Unnamed: 0  ...  diabetes_mellitus
count   50000.00000  ...       50000.000000
mean    64517.25396  ...           0.500000
std     37304.10042  ...           0.500005
min         0.00000  ...           0.000000
25%     31991.25000  ...           0.000000
50%     64325.50000  ...           0.500000
75%     96233.75000  ...           1.000000
max    130155.00000  ...           1.000000

[8 rows x 30 columns]

In [7]:
missing_data= pd.DataFrame(df.isna().sum()/df['diabetes_mellitus'].count())
missing_data['Not_missing']= df.notna().sum()
missing_data.sort_values(0,ascending=False)

                                   0  Not_missing
h1_bun_max                   0.79716        10142
h1_bun_min                   0.79716        10142
h1_creatinine_max            0.79562        10219
h1_creatinine_min            0.79562        10219
h1_potassium_min             0.76244        11878
h1_potassium_max             0.76244        11878
d1_diasbp_invasive_min       0.73078        13461
h1_glucose_max               0.52940        23530
h1_glucose_min               0.52940        23530
bun_apache                   0.18482        40759
creatinine_apache            0.18078        40961
d1_hemaglobin_max            0.12266        43867
d1_bun_min                   0.09714        45143
d1_bun_max                   0.09714        45143
d1_creatinine_min            0.09376        45312
d1_creatinine_max            0.09376        45312
d1_potassium_max             0.08746        45627
glucose_apache               0.08396        45802
d1_glucose_max               0.04634        47683
d1_glucose_min               0.04634        47683
bmi                          0.03406        48297
age                          0.03174        48413
weight                       0.02658        48671
cirrhosis                    0.00000        50000
solid_tumor_with_metastasis  0.00000        50000
hepatic_failure              0.00000        50000
Unnamed: 0                   0.00000        50000
aids                         0.00000        50000
arf_apache                   0.00000        50000
diabetes_mellitus            0.00000        50000

#Set Features and Target

In [8]:
y=df['diabetes_mellitus']
X=df.drop(['diabetes_mellitus'], axis=1)

##Establish no NaN values in target data

In [9]:
y.isna().sum()

0

In [10]:
X.isna().sum()

Unnamed: 0                         0
age                             1587
bmi                             1703
weight                          1329
arf_apache                         0
bun_apache                      9241
creatinine_apache               9039
glucose_apache                  4198
d1_diasbp_invasive_min         36539
d1_bun_max                      4857
d1_bun_min                      4857
d1_creatinine_max               4688
d1_creatinine_min               4688
d1_glucose_max                  2317
d1_glucose_min                  2317
d1_hemaglobin_max               6133
d1_potassium_max                4373
h1_bun_max                     39858
h1_bun_min                     39858
h1_creatinine_max              39781
h1_creatinine_min              39781
h1_glucose_max                 26470
h1_glucose_min                 26470
h1_potassium_max               38122
h1_potassium_min               38122
aids                               0
cirrhosis                          0
hepatic_failure                    0
solid_tumor_with_metastasis        0
dtype: int64

In [11]:
X.head()

   Unnamed: 0       age  ...  hepatic_failure  solid_tumor_with_metastasis
0      115391  0.539326  ...                0                            0
1       69518  0.573034  ...                0                            0
2       44079  0.865169  ...                0                            0
3        2516  0.831461  ...                0                            0
4      112777  0.516854  ...                0                            0

[5 rows x 29 columns]