<a href="https://colab.research.google.com/github/K-Hebel/WiDS_Chi/blob/master/Model_WiDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load Libraries

In [4]:
#@title
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#@title
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from xgboost import XGBClassifier
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.pipeline import Pipeline
from sklearn import metrics

#Load DataFile 'final_sample.csv' - A 50,000 record sample of orginal training dataset (Cleaned Based on EDA comments -df_A)

In [27]:
df_A=pd.read_csv('/content/drive/My Drive/final_sample.csv')

In [28]:
df_A.describe()

         Unnamed: 0  ...  diabetes_mellitus
count   50000.00000  ...       50000.000000
mean    64517.25396  ...           0.500000
std     37304.10042  ...           0.500005
min         0.00000  ...           0.000000
25%     31991.25000  ...           0.000000
50%     64325.50000  ...           0.500000
75%     96233.75000  ...           1.000000
max    130155.00000  ...           1.000000

[8 rows x 30 columns]

##Proportion of Missing Data in df_A by Feature Column and Count of Available data by Feature Column

In [29]:
missing_data= pd.DataFrame(df_A.isna().sum()/df_A['diabetes_mellitus'].count())
missing_data['Available']= df_A.notna().sum()
missing_data.sort_values(0,ascending=False)

                                   0  Available
h1_bun_max                   0.79716      10142
h1_bun_min                   0.79716      10142
h1_creatinine_max            0.79562      10219
h1_creatinine_min            0.79562      10219
h1_potassium_min             0.76244      11878
h1_potassium_max             0.76244      11878
d1_diasbp_invasive_min       0.73078      13461
h1_glucose_max               0.52940      23530
h1_glucose_min               0.52940      23530
bun_apache                   0.18482      40759
creatinine_apache            0.18078      40961
d1_hemaglobin_max            0.12266      43867
d1_bun_min                   0.09714      45143
d1_bun_max                   0.09714      45143
d1_creatinine_min            0.09376      45312
d1_creatinine_max            0.09376      45312
d1_potassium_max             0.08746      45627
glucose_apache               0.08396      45802
d1_glucose_max               0.04634      47683
d1_glucose_min               0.04634      47683
bmi                          0.03406      48297
age                          0.03174      48413
weight                       0.02658      48671
cirrhosis                    0.00000      50000
solid_tumor_with_metastasis  0.00000      50000
hepatic_failure              0.00000      50000
Unnamed: 0                   0.00000      50000
aids                         0.00000      50000
arf_apache                   0.00000      50000
diabetes_mellitus            0.00000      50000

##Set Features and Target (df_A) and Train_Test_split

In [30]:
y_a=df_A['diabetes_mellitus']
X_a=df_A.drop(['diabetes_mellitus'], axis=1)

X_a_train, X_a_test,y_a_train, y_a_test =train_test_split(X_a,y_a, random_state=40)

In [31]:
y_a.shape, X_a.shape

((50000,), (50000, 29))

In [32]:
y_a_train.shape, X_a_train.shape

((37500,), (37500, 29))

#Load Original DataFile fo 130,157 records (Clean Based on Prop of Available Data - df_B)

In [6]:
#@title
! pip install -q kaggle
from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"khebel","key":"11c0f35aedbce6808a3f45f82709accf"}'}

In [7]:
#@title
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download -c 'widsdatathon2021'
! unzip TrainingWiDS2021.csv.zip -d train
! unzip UnlabeledWiDS2021.csv.zip -d train

mkdir: cannot create directory ‘/root/.kaggle’: File exists
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
Downloading SolutionTemplateWiDS2021.csv to /content
  0% 0.00/90.0k [00:00<?, ?B/s]
100% 90.0k/90.0k [00:00<00:00, 34.0MB/s]
Downloading TrainingWiDS2021.csv.zip to /content
 42% 9.00M/21.5M [00:00<00:00, 37.3MB/s]
100% 21.5M/21.5M [00:00<00:00, 61.4MB/s]
Downloading UnlabeledWiDS2021.csv.zip to /content
  0% 0.00/1.60M [00:00<?, ?B/s]
100% 1.60M/1.60M [00:00<00:00, 109MB/s]
Downloading SampleSubmissionWiDS2021.csv to /content
  0% 0.00/59.0 [00:00<?, ?B/s]
100% 59.0/59.0 [00:00<00:00, 58.3kB/s]
Downloading DataDictionaryWiDS2021.csv to /content
  0% 0.00/28.2k [00:00<?, ?B/s]
100% 28.2k/28.2k [00:00<00:00, 28.7MB/s]
Archive:  TrainingWiDS2021.csv.zip
  inflating: train/TrainingWiDS2021.csv
Archive:  UnlabeledWiDS2021.csv.zip
  inflating: train/UnlabeledWiDS2021.csv

In [53]:
n#@title
df_B=pd.read_csv("train/TrainingWiDS2021.csv")

##Proportion of Missing Data in df_B by Feature Column and Count of Available data by Feature Column

In [13]:
missing_data_B= pd.DataFrame(df_B.isna().sum()/df_B['diabetes_mellitus'].count())
missing_data_B['Available']= df_B.notna().sum()
missing_data_B.sort_values(0,ascending=False)

                          0  Available
h1_bilirubin_max   0.920896      10296
h1_bilirubin_min   0.920896      10296
h1_albumin_max     0.914319      11152
h1_albumin_min     0.914319      11152
h1_lactate_min     0.910185      11690
...                     ...        ...
icu_stay_type      0.000000     130157
icu_id             0.000000     130157
elective_surgery   0.000000     130157
hospital_id        0.000000     130157
diabetes_mellitus  0.000000     130157

[181 rows x 2 columns]

##Drop Columns with missing data >=70% from df_B

In [14]:
col_drop=missing_data_B[missing_data_B[0]>= 0.70].sort_values(by=0, ascending=False)
df_B= df_B.drop(list(col_drop.index), axis=1) #[0].sort_values
df_B.shape

(130157, 126)

##Create Stratified Sample of df_B dataset to balance target variable value counts for sample size of 56,302 (included all positive diabetes_mellitus from original dataset)

In [15]:
df_B['diabetes_mellitus'].value_counts()

0    102006
1     28151
Name: diabetes_mellitus, dtype: int64

In [16]:
sample_df_B=df_B.groupby('diabetes_mellitus', group_keys=False).apply(lambda x: x.sample(28151))
sample_df_B.describe()

          Unnamed: 0  ...  diabetes_mellitus
count   56302.000000  ...       56302.000000
mean    64551.810131  ...           0.500000
std     37430.793248  ...           0.500004
min         1.000000  ...           0.000000
25%     31769.250000  ...           0.000000
50%     64417.500000  ...           0.500000
75%     96350.750000  ...           1.000000
max    130155.000000  ...           1.000000

[8 rows x 120 columns]

In [17]:
sample_df_B['diabetes_mellitus'].value_counts()

1    28151
0    28151
Name: diabetes_mellitus, dtype: int64

##Drop Features Not Associated with Patient Vitals

In [18]:
drop_cols2 =['Unnamed: 0',
 'encounter_id',
 'hospital_id',
 'elective_surgery',
 'hospital_admit_source',
 'icu_admit_source',
 'icu_id',
 'icu_stay_type',
 'icu_type',
 'pre_icu_los_days',
 'readmission_status',
 ]

sample_df_B2=sample_df_B.drop(drop_cols2, axis=1)
sample_df_B2.shape

(56302, 115)

##Encode Categorical Data in sample_df_B2 (Sample set of df_B)

In [19]:
sample_df_B2.select_dtypes(include=['object']).columns

Index(['ethnicity', 'gender'], dtype='object')

In [20]:
demo_cat=pd.get_dummies(sample_df_B2[['gender','ethnicity']])
sample_df_B3 = sample_df_B2.join(demo_cat)
sample_df_B3=sample_df_B3.drop(['gender','ethnicity'], axis=1)
sample_df_B3.shape

(56302, 121)

##Normalize All Numerical Data in sample_df  using a max min scaler
lambda x: (x - x.min()) / (x.max() - x.min()) (sample_df_B4)

In [21]:
sample_df_B4 = sample_df_B3.apply(lambda x: (x - x.min()) / (x.max() - x.min()))
sample_df_B4.describe()

                age  ...  ethnicity_Other/Unknown
count  54458.000000  ...             56302.000000
mean       0.707373  ...                 0.050869
std        0.179715  ...                 0.219731
min        0.000000  ...                 0.000000
25%        0.606742  ...                 0.000000
50%        0.730337  ...                 0.000000
75%        0.842697  ...                 0.000000
max        1.000000  ...                 1.000000

[8 rows x 121 columns]

##Set Features and Target (sample of df_B) & Training, Test Split

In [22]:
y_b=sample_df_B4['diabetes_mellitus']
X_b=sample_df_B4.drop(['diabetes_mellitus'], axis=1)

X_b_train, X_b_test, y_b_train,y_b_test =train_test_split(X_b,y_b, random_state=40)

In [23]:
y_b_train.shape, X_b_train.shape

((42226,), (42226, 120))

In [24]:
y_b_test.shape, X_b_test.shape

((14076,), (14076, 120))

#Create Training and Predictive Models For df_A (Sample set of 50,000)

In [25]:
model_1_A= XGBClassifier() #used to manage datasets with missing values
model_2_A= Pipeline(([('imputer', KNNImputer()), ('clf', RandomForestClassifier())]))
model_3_A = Pipeline(([('imputer', KNNImputer()), ('clf', LogisticRegression())]))

## XGBClassifier Model 1 - df_A

In [33]:
model_1_A.fit(X_a_train,y_a_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [34]:
model_1_A.score(X_a_test,y_a_test)

0.76552

##RandomForestClassifier Model 2- df_A

In [35]:
model_2_A.fit(X_a_train,y_a_train)

Pipeline(memory=None,
         steps=[('imputer',
                 KNNImputer(add_indicator=False, copy=True,
                            metric='nan_euclidean', missing_values=nan,
                            n_neighbors=5, weights='uniform')),
                ('clf',
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [36]:
model_2_A.score(X_a_test,y_a_test)

0.73952

#Create Training and Predictive Models For df_B (Sample set of 56,302)

In [41]:
model_1_B= XGBClassifier() #used to manage datasets with missing values
model_2_B= Pipeline(([('imputer', KNNImputer()), ('clf', RandomForestClassifier())]))

## XGBClassifier Model 1 - df_B

In [42]:
model_1_B.fit(X_b_train,y_b_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [43]:
model_1_B.score(X_b_test,y_b_test)

0.7681159420289855

##RandomForestRegressor 2 - df_B

In [44]:
model_2_B.fit(X_b_train,y_b_train)

Pipeline(memory=None,
         steps=[('imputer',
                 KNNImputer(add_indicator=False, copy=True,
                            metric='nan_euclidean', missing_values=nan,
                            n_neighbors=5, weights='uniform')),
                ('clf',
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [50]:
model_2_B.score(X_b_test,y_b_test)

0.7505683432793407

###Results reflect that XGBClassifier and RandomForest Classifier are the strongest predictive models

##Parameter Tweeking

In [ ]:
##Parameter Tweeking

#Using Unlabled Data

In [8]:
unlabeled_data=pd.read_csv('train/UnlabeledWiDS2021.csv')

In [57]:
unlabeled_data.describe()

         Unnamed: 0   encounter_id  ...      lymphoma  solid_tumor_with_metastasis
count  10234.000000   10234.000000  ...  10234.000000                 10234.000000
mean    5117.500000  140498.779461  ...      0.004104                     0.017686
std     2954.445661    3182.455522  ...      0.063934                     0.131814
min        1.000000  135000.000000  ...      0.000000                     0.000000
25%     2559.250000  137742.250000  ...      0.000000                     0.000000
50%     5117.500000  140503.500000  ...      0.000000                     0.000000
75%     7675.750000  143252.750000  ...      0.000000                     0.000000
max    10234.000000  146000.000000  ...      1.000000                     1.000000

[8 rows x 174 columns]