<a href="https://colab.research.google.com/github/K-Hebel/WiDS_Chi/blob/master/Model_WiDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load Libraries

In [1]:
#@title
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#@title
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

#Load DataFile 'final_sample.csv' - A 50,000 record sample of orginal training dataset (Cleaned Based on EDA comments -df_A)

In [11]:
df_A=pd.read_csv('/content/drive/My Drive/final_sample.csv')

In [12]:
df_A.describe()

         Unnamed: 0  ...  diabetes_mellitus
count   50000.00000  ...       50000.000000
mean    64517.25396  ...           0.500000
std     37304.10042  ...           0.500005
min         0.00000  ...           0.000000
25%     31991.25000  ...           0.000000
50%     64325.50000  ...           0.500000
75%     96233.75000  ...           1.000000
max    130155.00000  ...           1.000000

[8 rows x 30 columns]

##Proportion of Missing Data in df_A by Feature Column and Count of Available data by Feature Column

In [13]:
missing_data= pd.DataFrame(df_A.isna().sum()/df_A['diabetes_mellitus'].count())
missing_data['Available']= df_A.notna().sum()
missing_data.sort_values(0,ascending=False)

                                   0  Available
h1_bun_max                   0.79716      10142
h1_bun_min                   0.79716      10142
h1_creatinine_max            0.79562      10219
h1_creatinine_min            0.79562      10219
h1_potassium_min             0.76244      11878
h1_potassium_max             0.76244      11878
d1_diasbp_invasive_min       0.73078      13461
h1_glucose_max               0.52940      23530
h1_glucose_min               0.52940      23530
bun_apache                   0.18482      40759
creatinine_apache            0.18078      40961
d1_hemaglobin_max            0.12266      43867
d1_bun_min                   0.09714      45143
d1_bun_max                   0.09714      45143
d1_creatinine_min            0.09376      45312
d1_creatinine_max            0.09376      45312
d1_potassium_max             0.08746      45627
glucose_apache               0.08396      45802
d1_glucose_max               0.04634      47683
d1_glucose_min               0.04634      47683
bmi                          0.03406      48297
age                          0.03174      48413
weight                       0.02658      48671
cirrhosis                    0.00000      50000
solid_tumor_with_metastasis  0.00000      50000
hepatic_failure              0.00000      50000
Unnamed: 0                   0.00000      50000
aids                         0.00000      50000
arf_apache                   0.00000      50000
diabetes_mellitus            0.00000      50000

##Set Features and Target

In [14]:
y_a=df_A['diabetes_mellitus']
X_a=df_A.drop(['diabetes_mellitus'], axis=1)

##Establish no NaN values in target data

In [15]:
y_a.isna().sum()

0

In [16]:
X_a.isna().sum()

Unnamed: 0                         0
age                             1587
bmi                             1703
weight                          1329
arf_apache                         0
bun_apache                      9241
creatinine_apache               9039
glucose_apache                  4198
d1_diasbp_invasive_min         36539
d1_bun_max                      4857
d1_bun_min                      4857
d1_creatinine_max               4688
d1_creatinine_min               4688
d1_glucose_max                  2317
d1_glucose_min                  2317
d1_hemaglobin_max               6133
d1_potassium_max                4373
h1_bun_max                     39858
h1_bun_min                     39858
h1_creatinine_max              39781
h1_creatinine_min              39781
h1_glucose_max                 26470
h1_glucose_min                 26470
h1_potassium_max               38122
h1_potassium_min               38122
aids                               0
cirrhosis                          0
hepatic_failure                    0
solid_tumor_with_metastasis        0
dtype: int64

In [18]:
X_a.head()

   Unnamed: 0       age  ...  hepatic_failure  solid_tumor_with_metastasis
0      115391  0.539326  ...                0                            0
1       69518  0.573034  ...                0                            0
2       44079  0.865169  ...                0                            0
3        2516  0.831461  ...                0                            0
4      112777  0.516854  ...                0                            0

[5 rows x 29 columns]

#Load Original DataFile fo 130,157 records (Clean Based on Prop of Available Data - df_B)

In [19]:
#@title
! pip install -q kaggle
from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"khebel","key":"11c0f35aedbce6808a3f45f82709accf"}'}

In [21]:
#@title
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download -c 'widsdatathon2021'
! unzip TrainingWiDS2021.csv.zip -d train

mkdir: cannot create directory /root/.kaggle: File exists
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
DataDictionaryWiDS2021.csv: Skipping, found more recently modified local copy (use --force to force download)
UnlabeledWiDS2021.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
SampleSubmissionWiDS2021.csv: Skipping, found more recently modified local copy (use --force to force download)
TrainingWiDS2021.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
SolutionTemplateWiDS2021.csv: Skipping, found more recently modified local copy (use --force to force download)
Archive:  TrainingWiDS2021.csv.zip
  inflating: train/TrainingWiDS2021.csv

In [42]:
#@title
df_B=pd.read_csv("train/TrainingWiDS2021.csv")

##Proportion of Missing Data in df_B by Feature Column and Count of Available data by Feature Column

In [43]:
missing_data= pd.DataFrame(df_B.isna().sum()/df_B['diabetes_mellitus'].count())
missing_data['Available']= df_B.notna().sum()
missing_data.sort_values(0,ascending=False)

                          0  Available
h1_bilirubin_max   0.920896      10296
h1_bilirubin_min   0.920896      10296
h1_albumin_max     0.914319      11152
h1_albumin_min     0.914319      11152
h1_lactate_min     0.910185      11690
...                     ...        ...
icu_stay_type      0.000000     130157
icu_id             0.000000     130157
elective_surgery   0.000000     130157
hospital_id        0.000000     130157
diabetes_mellitus  0.000000     130157

[181 rows x 2 columns]

##Drop Columns with missing data >=75% from df_B

In [44]:
col_drop=missing_data[missing_data[0]>= 0.70].sort_values(by=0, ascending=False)
df_B= df_B.drop(list(col_drop.index), axis=1) #[0].sort_values
df_B.shape

(130157, 126)

##Create Stratified Sample of df_B dataset to balance target variable value counts for sample size of 56,302 (included all positive diabetes_mellitus from original dataset)

In [47]:
df_B['diabetes_mellitus'].value_counts()

0    102006
1     28151
Name: diabetes_mellitus, dtype: int64

In [48]:
sample_df_B=df_B.groupby('diabetes_mellitus', group_keys=False).apply(lambda x: x.sample(28151))
sample_df_B.describe()

          Unnamed: 0  ...  diabetes_mellitus
count   56302.000000  ...       56302.000000
mean    64424.550513  ...           0.500000
std     37291.625559  ...           0.500004
min         1.000000  ...           0.000000
25%     31874.250000  ...           0.000000
50%     64146.500000  ...           0.500000
75%     96075.500000  ...           1.000000
max    130155.000000  ...           1.000000

[8 rows x 120 columns]

In [49]:
sample_df_B['diabetes_mellitus'].value_counts()

1    28151
0    28151
Name: diabetes_mellitus, dtype: int64

##Drop Features Not Associated with Patient Vitals

In [50]:
list(sample_df_B.columns)

['Unnamed: 0',
 'encounter_id',
 'hospital_id',
 'age',
 'bmi',
 'elective_surgery',
 'ethnicity',
 'gender',
 'height',
 'hospital_admit_source',
 'icu_admit_source',
 'icu_id',
 'icu_stay_type',
 'icu_type',
 'pre_icu_los_days',
 'readmission_status',
 'weight',
 'albumin_apache',
 'apache_2_diagnosis',
 'apache_3j_diagnosis',
 'apache_post_operative',
 'arf_apache',
 'bilirubin_apache',
 'bun_apache',
 'creatinine_apache',
 'gcs_eyes_apache',
 'gcs_motor_apache',
 'gcs_unable_apache',
 'gcs_verbal_apache',
 'glucose_apache',
 'heart_rate_apache',
 'hematocrit_apache',
 'intubated_apache',
 'map_apache',
 'resprate_apache',
 'sodium_apache',
 'temp_apache',
 'urineoutput_apache',
 'ventilated_apache',
 'wbc_apache',
 'd1_diasbp_max',
 'd1_diasbp_min',
 'd1_diasbp_noninvasive_max',
 'd1_diasbp_noninvasive_min',
 'd1_heartrate_max',
 'd1_heartrate_min',
 'd1_mbp_max',
 'd1_mbp_min',
 'd1_mbp_noninvasive_max',
 'd1_mbp_noninvasive_min',
 'd1_resprate_max',
 'd1_resprate_min',
 'd1_spo2_max',
 'd1_spo2_min',
 'd1_sysbp_max',
 'd1_sysbp_min',
 'd1_sysbp_noninvasive_max',
 'd1_sysbp_noninvasive_min',
 'd1_temp_max',
 'd1_temp_min',
 'h1_diasbp_max',
 'h1_diasbp_min',
 'h1_diasbp_noninvasive_max',
 'h1_diasbp_noninvasive_min',
 'h1_heartrate_max',
 'h1_heartrate_min',
 'h1_mbp_max',
 'h1_mbp_min',
 'h1_mbp_noninvasive_max',
 'h1_mbp_noninvasive_min',
 'h1_resprate_max',
 'h1_resprate_min',
 'h1_spo2_max',
 'h1_spo2_min',
 'h1_sysbp_max',
 'h1_sysbp_min',
 'h1_sysbp_noninvasive_max',
 'h1_sysbp_noninvasive_min',
 'h1_temp_max',
 'h1_temp_min',
 'd1_albumin_max',
 'd1_albumin_min',
 'd1_bilirubin_max',
 'd1_bilirubin_min',
 'd1_bun_max',
 'd1_bun_min',
 'd1_calcium_max',
 'd1_calcium_min',
 'd1_creatinine_max',
 'd1_creatinine_min',
 'd1_glucose_max',
 'd1_glucose_min',
 'd1_hco3_max',
 'd1_hco3_min',
 'd1_hemaglobin_max',
 'd1_hemaglobin_min',
 'd1_hematocrit_max',
 'd1_hematocrit_min',
 'd1_inr_max',
 'd1_inr_min',
 'd1_platelets_max',
 'd1_platelets_min',
 'd1_potassium_max',
 'd1_potassium_min',
 'd1_sodium_max',
 'd1_sodium_min',
 'd1_wbc_max',
 'd1_wbc_min',
 'h1_glucose_max',
 'h1_glucose_min',
 'h1_inr_max',
 'h1_inr_min',
 'd1_arterial_pco2_max',
 'd1_arterial_pco2_min',
 'd1_arterial_ph_max',
 'd1_arterial_ph_min',
 'd1_arterial_po2_max',
 'd1_arterial_po2_min',
 'aids',
 'cirrhosis',
 'hepatic_failure',
 'immunosuppression',
 'leukemia',
 'lymphoma',
 'solid_tumor_with_metastasis',
 'diabetes_mellitus']

In [52]:
drop_cols2 =['Unnamed: 0',
 'encounter_id',
 'hospital_id',
 'elective_surgery',
 'hospital_admit_source',
 'icu_admit_source',
 'icu_id',
 'icu_stay_type',
 'icu_type',
 'pre_icu_los_days',
 'readmission_status',
 ]

sample_df_B2=sample_df_B.drop(drop_cols2, axis=1)
sample_df_B2.shape

(56302, 115)

##Encode Categorical Data in sample_df_B2 (Sample set of df_B)

In [57]:
sample_df_B2.select_dtypes(include=['object']).columns

Index(['ethnicity', 'gender'], dtype='object')

In [60]:
demo_cat=pd.get_dummies(sample_df_B2[['gender','ethnicity']])
sample_df_B3 = sample_df_B2.join(demo_cat)
sample_df_B3=sample_df_B3.drop(['gender','ethnicity'], axis=1)
sample_df_B3.shape

(56302, 121)

##Normalize