<a href="https://colab.research.google.com/github/K-Hebel/WiDS_Chi/blob/master/Model_WiDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load Libraries

In [1]:
#@title
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#@title
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [108]:
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB 
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn import metrics

#Load DataFile 'final_sample.csv' - A 50,000 record sample of orginal training dataset (Cleaned Based on EDA comments -df_A)

In [11]:
df_A=pd.read_csv('/content/drive/My Drive/final_sample.csv')

In [12]:
df_A.describe()

         Unnamed: 0  ...  diabetes_mellitus
count   50000.00000  ...       50000.000000
mean    64517.25396  ...           0.500000
std     37304.10042  ...           0.500005
min         0.00000  ...           0.000000
25%     31991.25000  ...           0.000000
50%     64325.50000  ...           0.500000
75%     96233.75000  ...           1.000000
max    130155.00000  ...           1.000000

[8 rows x 30 columns]

##Proportion of Missing Data in df_A by Feature Column and Count of Available data by Feature Column

In [13]:
missing_data= pd.DataFrame(df_A.isna().sum()/df_A['diabetes_mellitus'].count())
missing_data['Available']= df_A.notna().sum()
missing_data.sort_values(0,ascending=False)

                                   0  Available
h1_bun_max                   0.79716      10142
h1_bun_min                   0.79716      10142
h1_creatinine_max            0.79562      10219
h1_creatinine_min            0.79562      10219
h1_potassium_min             0.76244      11878
h1_potassium_max             0.76244      11878
d1_diasbp_invasive_min       0.73078      13461
h1_glucose_max               0.52940      23530
h1_glucose_min               0.52940      23530
bun_apache                   0.18482      40759
creatinine_apache            0.18078      40961
d1_hemaglobin_max            0.12266      43867
d1_bun_min                   0.09714      45143
d1_bun_max                   0.09714      45143
d1_creatinine_min            0.09376      45312
d1_creatinine_max            0.09376      45312
d1_potassium_max             0.08746      45627
glucose_apache               0.08396      45802
d1_glucose_max               0.04634      47683
d1_glucose_min               0.04634      47683
bmi                          0.03406      48297
age                          0.03174      48413
weight                       0.02658      48671
cirrhosis                    0.00000      50000
solid_tumor_with_metastasis  0.00000      50000
hepatic_failure              0.00000      50000
Unnamed: 0                   0.00000      50000
aids                         0.00000      50000
arf_apache                   0.00000      50000
diabetes_mellitus            0.00000      50000

##Set Features and Target (df_A) and Train_Test_split

In [87]:
y_a=df_A['diabetes_mellitus']
X_a=df_A.drop(['diabetes_mellitus'], axis=1)

X_a_train, X_a_test,y_a_train, y_a_test =train_test_split(X_a,y_a, random_state=40)

In [88]:
y_a.shape, X_a.shape

((50000,), (50000, 29))

In [90]:
y_a_train.shape, X_a_train.shape

((37500,), (37500, 29))

#Load Original DataFile fo 130,157 records (Clean Based on Prop of Available Data - df_B)

In [19]:
#@title
! pip install -q kaggle
from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"khebel","key":"11c0f35aedbce6808a3f45f82709accf"}'}

In [21]:
#@title
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download -c 'widsdatathon2021'
! unzip TrainingWiDS2021.csv.zip -d train

mkdir: cannot create directory ‘/root/.kaggle’: File exists
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
DataDictionaryWiDS2021.csv: Skipping, found more recently modified local copy (use --force to force download)
UnlabeledWiDS2021.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
SampleSubmissionWiDS2021.csv: Skipping, found more recently modified local copy (use --force to force download)
TrainingWiDS2021.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
SolutionTemplateWiDS2021.csv: Skipping, found more recently modified local copy (use --force to force download)
Archive:  TrainingWiDS2021.csv.zip
  inflating: train/TrainingWiDS2021.csv

In [42]:
#@title
df_B=pd.read_csv("train/TrainingWiDS2021.csv")

##Proportion of Missing Data in df_B by Feature Column and Count of Available data by Feature Column

In [68]:
missing_data_B= pd.DataFrame(df_B.isna().sum()/df_B['diabetes_mellitus'].count())
missing_data_B['Available']= df_B.notna().sum()
missing_data_B.sort_values(0,ascending=False)

                             0  Available
d1_arterial_ph_min    0.651575      45350
d1_arterial_ph_max    0.651575      45350
d1_arterial_pco2_max  0.648916      45696
d1_arterial_pco2_min  0.648916      45696
d1_arterial_po2_max   0.645451      46147
...                        ...        ...
icu_stay_type         0.000000     130157
icu_id                0.000000     130157
elective_surgery      0.000000     130157
hospital_id           0.000000     130157
diabetes_mellitus     0.000000     130157

[126 rows x 2 columns]

##Drop Columns with missing data >=70% from df_B

In [70]:
col_drop=missing_data_B[missing_data_B[0]>= 0.70].sort_values(by=0, ascending=False)
df_B= df_B.drop(list(col_drop.index), axis=1) #[0].sort_values
df_B.shape

(130157, 126)

##Create Stratified Sample of df_B dataset to balance target variable value counts for sample size of 56,302 (included all positive diabetes_mellitus from original dataset)

In [47]:
df_B['diabetes_mellitus'].value_counts()

0    102006
1     28151
Name: diabetes_mellitus, dtype: int64

In [48]:
sample_df_B=df_B.groupby('diabetes_mellitus', group_keys=False).apply(lambda x: x.sample(28151))
sample_df_B.describe()

          Unnamed: 0  ...  diabetes_mellitus
count   56302.000000  ...       56302.000000
mean    64424.550513  ...           0.500000
std     37291.625559  ...           0.500004
min         1.000000  ...           0.000000
25%     31874.250000  ...           0.000000
50%     64146.500000  ...           0.500000
75%     96075.500000  ...           1.000000
max    130155.000000  ...           1.000000

[8 rows x 120 columns]

In [49]:
sample_df_B['diabetes_mellitus'].value_counts()

1    28151
0    28151
Name: diabetes_mellitus, dtype: int64

##Drop Features Not Associated with Patient Vitals

In [52]:
drop_cols2 =['Unnamed: 0',
 'encounter_id',
 'hospital_id',
 'elective_surgery',
 'hospital_admit_source',
 'icu_admit_source',
 'icu_id',
 'icu_stay_type',
 'icu_type',
 'pre_icu_los_days',
 'readmission_status',
 ]

sample_df_B2=sample_df_B.drop(drop_cols2, axis=1)
sample_df_B2.shape

(56302, 115)

##Encode Categorical Data in sample_df_B2 (Sample set of df_B)

In [57]:
sample_df_B2.select_dtypes(include=['object']).columns

Index(['ethnicity', 'gender'], dtype='object')

In [60]:
demo_cat=pd.get_dummies(sample_df_B2[['gender','ethnicity']])
sample_df_B3 = sample_df_B2.join(demo_cat)
sample_df_B3=sample_df_B3.drop(['gender','ethnicity'], axis=1)
sample_df_B3.shape

(56302, 121)

##Normalize All Numerical Data in sample_df  using a max min scaler
lambda x: (x - x.min()) / (x.max() - x.min()) (sample_df_B4)

In [62]:
sample_df_B4 = sample_df_B3.apply(lambda x: (x - x.min()) / (x.max() - x.min()))
sample_df_B4.describe()

                age  ...  ethnicity_Other/Unknown
count  54456.000000  ...             56302.000000
mean       0.707225  ...                 0.050513
std        0.180011  ...                 0.219004
min        0.000000  ...                 0.000000
25%        0.606742  ...                 0.000000
50%        0.730337  ...                 0.000000
75%        0.842697  ...                 0.000000
max        1.000000  ...                 1.000000

[8 rows x 121 columns]

##Set Features and Target (sample of df_B) & Training, Test Split

In [83]:
y_b=sample_df_B4['diabetes_mellitus']
X_b=sample_df_B4.drop(['diabetes_mellitus'], axis=1)

X_b_train, X_b_test, y_b_train,y_b_test =train_test_split(X_b,y_b, random_state=40)

In [84]:
y_b_train.shape, X_b_train.shape

((42226,), (42226, 120))

In [85]:
y_b_test.shape, X_b_test.shape

((14076,), (14076, 120))

#Create Training and Predictive Models For df_A (Sample set of 50,000)

In [109]:
model_1= XGBClassifier() #used to manage datasets with missing values
model_2= Pipeline(([('imputer', KNNImputer()), ('clf', GaussianNB())]))
model_3= Pipeline(([('imputer', SimpleImputer()), ('clf', LinearSVC())]))
model_4= Pipeline(([('imputer', KNNImputer()), ('clf', RandomForestClassifier())]))

## XGBClassifier Model 1 - df_A

In [91]:
model_1.fit(X_a_train,y_a_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [92]:
model_1.score(X_a_test,y_a_test)

0.76552

##GaussianNB Model 2 - df_A

In [93]:
model_2.fit(X_a_train,y_a_train)

Pipeline(memory=None,
         steps=[('imputer',
                 KNNImputer(add_indicator=False, copy=True,
                            metric='nan_euclidean', missing_values=nan,
                            n_neighbors=5, weights='uniform')),
                ('clf', GaussianNB(priors=None, var_smoothing=1e-09))],
         verbose=False)

In [94]:
model_2.score(X_a_test,y_a_test)

0.59888

##LinearSVC Model 3 - df_A

In [99]:
model_3.fit(X_a_train,y_a_train)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Pipeline(memory=None,
         steps=[('imputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('clf',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

In [100]:
model_3.score(X_a_test,y_a_test)

0.53624

##RandomForestClassifier Model 4- df_A

In [110]:
model_4.fit(X_a_train,y_a_train)

Pipeline(memory=None,
         steps=[('imputer',
                 KNNImputer(add_indicator=False, copy=True,
                            metric='nan_euclidean', missing_values=nan,
                            n_neighbors=5, weights='uniform')),
                ('clf',
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [111]:
model_4.score(X_a_test,y_a_test)

0.74304

#Create Training and Predictive Models For df_B (Sample set of 56,302)

## XGBClassifier Model 1 - df_B

In [101]:
model_1.fit(X_b_train,y_b_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [102]:
model_1.score(X_b_test,y_b_test)

0.7654873543620346

##GaussianNB Model 2 - df_B

In [ ]:
model_2.fit(X_b_train,y_b_train)

In [ ]:
model_2.score(X_b_train,y_b_train)

##LinearSVC Model 3 - df_B

In [ ]:
model_3.fit(X_b_train,y_b_train)

In [ ]:
model_3.score(X_b_train,y_b_train)

##RandomForestRegressor 4 - df_B

In [ ]:
model_4.fit(X_b_train,y_b_train)

In [ ]:
model_4.score(X_b_train,y_b_train)

###Results reflect that XGBClassifier and RandomForest Classifier are the strongest predictive models

##Parameter Tweeking

In [ ]:
##Parameter Tweeking